<a id='top'></a>

# Homework 1: Data Cleaning and Exploratory Data Analysis 
***

**Name**:  Keaton Whitehead

***

This assignment is due on Canvas by **MIDNIGHT on Friday September 13**. Your solutions to theoretical questions should be done in Markdown directly below the associated question.  Your solutions to computational questions should include any specified Python code and results as well as written commentary on your conclusions.  Remember that you are encouraged to discuss the problems with your classmates, but **you must write all code and solutions on your own**.

**NOTES**: 

- Any relevant data sets should be available under the **Data** module on Canvas. To make life easier on the graders if they need to run your code, do not change the relative path names here. Instead, move the files around on your computer.
- If you're not familiar with typesetting math directly into Markdown then by all means, do your work on paper first and then typeset it later.  Remember that there is a [reference guide](https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference) linked on Canvas on writing math in Markdown. **All** of your written commentary, justifications and mathematical work should be in Markdown.
- Because you can technically evaluate notebook cells is a non-linear order, it's a good idea to do Kernel $\rightarrow$ Restart & Run All as a check before submitting your solutions.  That way if we need to run your code you will know that it will work as expected. 
- It is **bad form** to make your reader interpret numerical output from your code.  If a question asks you to compute some value from the data you should show your code output **AND** write a summary of the results in Markdown directly below your code. 
- This probably goes without saying, but... For any question that asks you to calculate something, you **must show all work and justify your answers to receive credit**. Sparse or nonexistent work will receive sparse or nonexistent credit. 

---
**Shortcuts:**  [Problem 1](#p1) | [Problem 2](#p2) | [Problem 3](#p3) | [Problem 4](#p4) | [Problem 5](#p5) | [Problem 6](#p6)

---

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

[Back to top](#top)

<br>

<a/ id='p1'></a>

### (10 points) Problem 1
***

<img style="float: left; width: 200px; padding: 3mm;" src="https://aquarium.org/wp-content/uploads/2015/08/Seahorse-female.jpg" alt="Drawing"/>  
Poseidon is studying seahorses. Locations in each of the Atlantic, Pacific, Indian, Artic, and Southern Oceans are chosen to catch and release seahorses. After being caught, the seahorses are monitored for 24 hours while being fed organic, free-range plankton. The amount of plankton that each seahorse eats is recorded in an app on Poseidonâ€™s phone, called Hippocampus. He collects 6 seahorses from the Arctic Ocean, 36 seahorses from the Pacific Ocean, 12 seahorses from the Indian Ocean, 6 seahorses from the Southern Ocean, and 42 seahorses from the Atlantic Ocean. 

Poseidon wants to get a sense for the average amount of plankton eaten by seahorses, so he uses the Hippcampus app to randomly choose 1 seahorse from the Arctic, 6 from the Pacific, 2 from the Indian Ocean, 1 from the Southern Ocean, and 7 from the Atlantic Ocean.

$$ \quad $$
    
**Part A:** Identify the following: 

- the population 
- the sample frame 
- the sample 
- the type of sample 
- the quantity of interest

- All the seahorses
- 102 collected seahorses from selected oceans
- 1 seahorse from the Arctic, 6 from the Pacific, 2 from the Indian Ocean, 1 from the Southern Ocean, and 7 from the Atlantic Ocean (17 Seahorses)
- Stratified sample
- The amount of plankton the Seahorses have eaten

**Part B:** Poseidon repeats his sampling, again using the Hippocampus app. Now, he orders the data alphabetically by location and chooses every 3rd data value. 
    
Identify the following: 

- the population 
- the sample frame 
- the sample 
- the type of sample 
- the quantity of interest

- All Seahorses
- 102 Seahorses from the slected oceans
- the 1/3 of data points extracted (34 Seahorses selected) 
- Systematic sample
- The amount of plankton the Seahorses have eaten

[Back to top](#top)

<br>

<a/ id='p2'></a>

### (20 points) Problem 2
***

A method to investigate the sensitivity of the sample mean and sample median to extreme outliers and changes in the dataset is to replace one or more elements in a given dataset by a number $y$ and investigate the effect when $y$ changes. To illustrate this, consider the following dataset:
 
$$  4.3 \quad 5.2 \quad 5.0 \quad y \quad 3.8 \quad 4.1 \quad 5.5 \quad 1.9 $$

**Part A:** Compute the sample mean and sample median for $y=1.5$. Then compute both quantities again for $y=6$.

In [ ]:
print("y = 1.5 -> Mean: 3.913 med = 4.2")
print("y = 6   -> Mean: 4.475 med = 4.65")

**Part B:** Is there a value for $y$ that would make the mean of the data equal to 6? If so, calculate the value of $y$ that makes the mean equal to 6. If not, clearly explain why not.
    
Is there a value for $y$ that would make the median of the data equal to 6? If so, calculate the values of $y$ that makes the median equal to 6. If not, clearly explain why not.

Part A: Yes there is a value that would make the mean of the data equal to 6, it is if y = 18.2

Part B: No there is no value of y that would make the median of the data = 6. No matter what y is does not change the amount of data points necesary to move the median to 6. Since most of the data points are below 6, there has to be exactly the same amount of data points that are greater than 6, so that 6 would be the median.

**Part C**: Compute the sample variance and the sample standard deviation for the original dataset given in part A, with $y=6$.

In [ ]:
import math


sum1 = 0
y = 6
varSum = 0
A=[4.3,5.2,5,6,3.8,4.1,5.5,1.9]

for i in A:
    sum1 += i

avg = sum1/len(A)
#sqSum1 = math.sqrt((1/(len(A)-1))*(avg)**2)

for i in A:
    varSum += (i-avg)**2
varSum = varSum/(len(A)-1)
sqSum = math.sqrt(varSum)
print("Variance for A: " + str(varSum))
print("Standard Deviation for A: " + str(sqSum))

**Part D**: Compute the sample median for the following cases: 
- $y=5$ 
- $y=50$ 
- $y=4.36$ 
- $y \to \infty$ 
- $y \to -\infty$

In [ ]:


def find_median(y):
    A = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
    B = []
    B.clear()
    B = A
    B.append(y)
    B.sort()
    return B
def find_median2(y):
    A = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
    C = []
    C.clear()
    C = A
    C.append(y)
    C.sort()
    return C
def find_median3(y):
    A = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
    D = []
    D.clear()
    D = A
    D.append(y)
    D.sort()
    return D
def find_median4(y):
    A = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
    E = []
    E.clear()
    E = A
    E.append(y)
    E.sort()
    return E
def find_median5(y):
    A = [4.3, 5.2, 5.0, 3.8, 4.1, 5.5, 1.9]
    F = []
    F.clear()
    F = A
    F.append(y)
    F.sort()
    return F

def calc_median(x):
    med_ind = len(x)/2
    med_val = (x[int(med_ind)] + x[int(med_ind-1)])/2
    return med_val
    
print(str(calc_median(find_median5(5))))
print(str(calc_median(find_median5(50))))
print(str(calc_median(find_median5(4.36))))
print(str(calc_median(find_median5(100))))
print(str(calc_median(find_median5(-100))))

#I had to do seperate function because for some reason the B list would not clear each iteration of being called and it would keep previous appended items in the list

**Part E**: Think about the previous parts, above, and describe in words or mathematical notation the answers to the following two questions:

- By varying $y$, what is the set of all the possible values that the sample mean could take on?
- By varying $y$, what is the set of all the possible values that the sample median could take on? Specifically, for what sets of $y$ values does the median take on its different possible values?

- For a varying y, the sample mean can take on all real numbers
- For a varying y, the sample median will vary between (4.1 and 5.0) exclusively

**Part F**: Describe in words or mathematical notation, what happens to the sample standard deviation when $y$ is varied in the following ways: 
 
- $y \to \infty$ 
- $y \to \bar{x}$

- The STD will increase as you move away from the average
- The STD will decrease as you move closer to the average

[Back to top](#top)
<a/ id='p3'></a>

## (20 pts) Problem 3 
***

Let $x_1, x_2, \ldots, x_n$ be $n$ observations of a variable of interest.  Recall that the sample mean $\bar{x}_n$ and sample variance $s^2_n$ are given by 

$$
\bar{x}_n = \frac{1}{n}\sum_{k=1}^n x_k \quad \textrm{and} \quad s^2_n = \frac{1}{n-1}\sum_{k=1}^n \left( x_k - \bar{x}_n\right)^2 \qquad \tag{Equation 1}
$$

where here the subscript $n$'s indicate the number of observations in the sample. Notice that a natural computation of the variance requires two passes over the data: one to compute the mean, and a second to subtract the mean from each observation and compute the sum of squares. It is often useful to be able to compute the variance in a single pass, inspecting each value $x_k$ only once; for example, when the data are being collected without enough storage to keep all the values, or when costs of memory access dominate those of computation. In this problem you will explore two methods for such an _online_ computation of the mean.  

**Part A**: Show algebraically that the following relation holds between the mean of the first $n-1$ observations and the mean of all $n$ observations: 

$$
\bar{x}_n = \bar{x}_{n-1} + \frac{x_n - \bar{x}_{n-1}}{n}
$$

Note that you can get an expression for $\bar{x}_{n-1}$ by simply replacing $n$ in Equation 1 above with $n-1$.

**Part B**: Write a function `my_sample_mean` that takes as its input a numpy array and returns the mean of that numpy array using the formulas from class (written above). Write another function `my_sample_var` that takes as its input a numpy array and returns the variance of that numpy array, again using the formulas from class (written above). You may **not** use any built-in sample mean or variance functions.

In [ ]:
def my_sample_mean(x):
    avg = 0
    for i in x:
        avg += i
    avg = avg/len(x)
    return avg

def my_sample_var(y):
    sample_var = 0
    avg = my_sample_mean(y)
    for i in y:
        sample_var += (i - avg)**2
    sample_var = sample_var/(len(y)-1)
    return sample_var

**Part C**: Use your functions from Part B to compute the sample mean and sample variance of the following array, which contains the plankton consumed by a sample of 12 seahorses.

`pla = [98, 26, 83, 56, 60, 39, 81, 19, 72, 78, 94, 42]`

In [ ]:
pla = [98, 26, 83, 56, 60, 39, 81, 19, 72, 78, 94, 42]
print("Sample Mean: " + str(my_sample_mean(pla)))
print("Sample Variance: " + str(my_sample_var(pla)))

**Part D**: Implement a third function called `update_mean` that implements the formula whose validity you proved in Part A. Note that this function will need to take as its input three things: $x_n$, $\bar{x}_{n-1}$ and $n$. A function header is provided for you. This function may be auto-graded, so please do not change the given API - the order of inputs matters! If you change it, you might lose points.

Use this function to compute the values that you get from taking the mean of the first seahorse's plankton, the first two seahorses, the first three seahorses, and so on up to all of the seahorse data points. Store your plankton means in a numpy array called `pla_means`.  Report all 12 estimates in `pla_means`.

In [1]:
# Given API:
def update_mean(prev_mean, xn, n):
    # your code goes here!
    return #the updated mean

To ensure your function complies with the given API, run this small test, where we suppose we have a mean of $\bar{x}_n = 1$ with the first $2$ data points (`prev_mean`), and we update this with the 3rd ($n=3$) data point which is $x_3=2$:

In [ ]:
assert update_mean(1,2,3)==4/3, "Warning: function seems broken."

In [ ]:
print(update_mean(1,2,3))

[Back to top](#top)

<a/ id='p4'></a>

## (25 pts) Problem 4
*** 
Some claim that the final hours aboard the RMS Titanic were marked by "class warfare" in which the people with first-class tickets took all the good spots on the lifeboats; others claim that the final hours were characterized by male chivalry, in which the men valiantly gave up their positions in the boats and succumbed bravely to the depths of the Atlantic. 

We have the data on survival rates by class and by sex, so let's figure out whether there is evidence for these scenarios. Access the Titanic data in `titanic_data.csv` and store it in a Pandas DataFrame. The data contains information pertaining to class status (**Pclass**), survival (**Survived**), and gender (**Sex**) of passengers, among other things. Be sure to use the `titanic_data.csv` data set, *not* the `clean_titanic_data` file from the in-class notebook.

In [14]:
df = pd.read_csv("titanic_data.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,36.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,18.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,14.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,27.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,63.0,0,0,373450,8.0500,NaN,S

**Part A**: Consider the two claims: class warfare, and male chivalry. Suppose that class warfare occurred in the final hours aboard the Titanic.  What patterns might you expect to see in the data?  Suppose that male chivalry was widespread during the final hours instead. What patterns might you then expect to see in the data?  Explain both of these hypothesized patterns in words. Are these two hypotheses mutually exclusive or not?

**Part B**: Use Pandas (see: `dropna`) methods to create a clean data set by removing any rows from the DataFrame that are missing values corresponding to **Survived**, **Pclass**, **Age**, or **Sex**. Store the clean data in a DataFrame called dfTitanic. Be sure to show any exploratory work determining if/where there are rows with missing values.

In [ ]:
dfTitanic = df.dropna(subset = ['Survived', 'Pclass', 'Age', 'Sex'])
print(len(dfTitanic))
dfTitanic.head(10)

**Part C**: Compute the fraction of survivors according to class and gender. There are 3 passenger classes and 2 sexes in the data set, so you should report all 6 possible combinations.  Then, answer 3 questions:
* **(i)** Within each passenger class, were men or women more/less/equally likely to survive?
* **(ii)**  Looking at only the male or only the female passengers, how is passenger class related to the category's survival rate?
* **(iii)**  Did men in first class or women in third class have a higher survival rate?

In [ ]:
surviveTotalMale = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Sex"] == 'male')])
surviveTotalFemale = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Sex"] == 'female')])
totalCountFemale1 = len(dfTitanic.loc[(dfTitanic["Pclass"] == 1) & (dfTitanic["Sex"] == "female")]) 
totalCountFemale2 = len(dfTitanic.loc[(dfTitanic["Pclass"] == 2) & (dfTitanic["Sex"] == "female")]) 
totalCountFemale3 = len(dfTitanic.loc[(dfTitanic["Pclass"] == 3) & (dfTitanic["Sex"] == "female")]) 
totalCountMale1 = len(dfTitanic.loc[(dfTitanic["Pclass"] == 1) & (dfTitanic["Sex"] == "male")]) 
totalCountMale2 = len(dfTitanic.loc[(dfTitanic["Pclass"] == 2) & (dfTitanic["Sex"] == "male")]) 
totalCountMale3 = len(dfTitanic.loc[(dfTitanic["Pclass"] == 3) & (dfTitanic["Sex"] == "male")]) 
surviveCount1 = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Pclass"] == 1) & (dfTitanic["Sex"] == 'male')])
surviveCount2 = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Pclass"] == 1) & (dfTitanic["Sex"] == 'female')])
surviveCount3 = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Pclass"] == 2) & (dfTitanic["Sex"] == 'male')])
surviveCount4 = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Pclass"] == 2) & (dfTitanic["Sex"] == 'female')])
surviveCount5 = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Pclass"] == 3) & (dfTitanic["Sex"] == 'male')])
surviveCount6 = len(dfTitanic.loc[(dfTitanic["Survived"] == 1) & (dfTitanic["Pclass"] == 3) & (dfTitanic["Sex"] == 'female')])

print("Class: 1, Male:   " + str(surviveCount1) + ", " + str(round((surviveCount1/totalCountMale1)*100, 2)) + "% of all males: ")
print("Class: 1, Female: " + str(surviveCount2) + ", " + str(round((surviveCount2/totalCountFemal1)*100, 2)) + "% of all females: ")
print("Class: 2, Male:   " + str(surviveCount3) + ", " + str(round(surviveCount3/totalCountMale2)*100, 2)) + "% of all males: ")
print("Class: 2, Female: " + str(surviveCount4) + ", " + str(round((surviveCount4/totalCountFemale2)*100, 2)) + "% of all females: ")
print("Class: 3, Male:   " + str(surviveCount5) + ", " + str(round((surviveCount5/totalCountMale3)*100, 2)) + "% of all males: ")
print("Class: 3, Female: " + str(surviveCount6) + ", " + str(round((surviveCount6/totalCountFemale3)*100, 2)) + "% of all females: ")
print()
print("1) Women were more likely to survive than men regardless of class")
print("2) By class overall the higher up on the class the more likely you were to survive for both males and females, Females had a higher survival rate than males regardless of class")
print("3) Women in third class had higher survival rates than first class males.")


dfTitanic.head()

**Part D**: Plot a histogram of all of the passenger ages, using the bin edges $[0,5,10,\ldots,70,75,80]$ defined by `my_bins` below. How would you characterize the distribution of **AGE**? (By _characterize_ we mean that you should indicate whether the data are unimodal, bimodal, multimodal, symmetric, negatively skewed, positively skewed, etc.)  Be sure to label your axes and use your figure to justify your conclusions.

In [ ]:
my_bins = range(0,85,5)

In [ ]:
fig, h=plt.subplots(figsize=(12,7))
dfTitanic.hist(column = "Age", ax = h, color = "red", edgecolor = "white", bins = my_bins)
h.set_title("Titanic Passenger Ages")
h.set_ylabel("Number of Persons")
h.set_xlabel("Age (years)")

**Part E**: One might wonder how a passenger's age is related to the likelihood that they would survive the Titanic disaster. To answer this question graphically, plot two density histograms on the same set of axes, showing the distribution of the ages of passengers who survived, and the distribution of the ages of passengers who did not. 
* Use the bin edges $[0,5,10,\ldots,70,75,80]$ for both histograms.
* This problem is about a *ship* sinking in the *ocean*, so use **coral** and **seagreen** as the facecolors for your histogram boxes.
* Plot both histograms on a single set of axes (there should be only one panel in the figure you create), but use Matplotlib/Pandas plotting functionality to make the faces of the histogram boxes somewhat transparent, so both histograms are visible.
* Include a legend and label your axes.
* Comment on the results. Does your figure suggest that some age ranges are more or less likely to have survived the disaster than other ages? Fully explain your reasoning and use your figure to justify your conclusions.
* If you noticed some relationship between age and likelihood of survival, what is one possible explanation?

In [ ]:
survived = dfTitanic.loc[dfTitanic.Survived == 1]
died = dfTitanic.loc[dfTitanic.Survived == 0]

fig, h = plt.subplots(figsize = (12,7))
survived.hist(column = "Age", density = True, ax = h, color = "stealblue", edgecolor = "black", bins = my_bins, alpha = 5.0, label = "Survived")
died.hist(column = "Age", density = True, ax = h, color = "red", edgecolor = "black", bins = my_bins, alpha = 0.5, label = "Died")
h.set_title("Titanic Passenger Mortality")
h.set_ylabel("Percentage of all People")
h.set_xlabel("Age (years)")
h.legend()

**Part F:** In Part E, we plotted two *density* histograms, showing the distributions of ages of passengers that survived or did not survive the Titanic disaster. Why would it be misleading for us to have plotted these as *frequency* histograms instead?

**Part G**: Do the data suggest class warfare, male chivalry, or some combination of both characteristics in the final hours aboard the Titanic?  Justify your conclusion based on the computations done above, or do any other analysis that you like, but be sure to clearly justify your conclusion.

[Back to top](#top)
<a/ id='p5'></a>

## (25 pts) Problem 5 (monthly patterns)
***

NOAA's Physical Sciences division (https://www.esrl.noaa.gov/psd) houses an enormous amount of weather data.  Load `hw1BoulderPPT.csv` from the course page for the last 100 years of monthly precipitation data from Boulder.

#### a) When the amount of precipitation was nonzero but too small to be recorded, this data set recorded `tr`.  Replace these with zeroes.

In [ ]:
df = pd.read_csv("hw1BoulderPPt.csv")
noTr

#### b) Generate a series of 12 box plots with month as the x axis and precipitation on the y-axis.


#### c) Atmospheric scientists love to group months seasonally, breaking the year into a Winter season including December, January, February; a Spring included March, April, and May; and so forth. Generate a series of 4 box plots with season as the x axis and precipitation on the y-axis.  How does folding March-April-May into one variable change the mean and standard deviation compared to the data for just April?

In [ ]:
bdf["Winter"] = bdf["DEC"] + bdf["JAN"] + bdf["FEB"]
bdf["Spring"] = bdf ["MAR"] + bdf["APR"] + bdf["MAY"]
bdf["Summer"] = bdf["JUN"] + bdf["JUL"] + bdf["AUG"]
bdf["Autum"] = bdf["SEP"] + bdf["OCT"] + bdf["NOV"]

print("")
print("")
print("")
print("")

#### d) Create a density histogram of the September precipitation.  Classify and describe this histogram.  Find the data point associated with September, 2013, and recreate your histogram with that value in a different color or otherwise clearly marked.

In [ ]:
#code cell; use markdown cell after this for explanation.

#### e) Calculute the mean and standard deviation of the September precipitation in this set.  Create a Tukey 5 number summary of the September precipitation.  What are a couple of advantages and disadvantages of these numerical summaries compared to each other on this subset of the data?  Why?

In [ ]:
#code cell for calculations

**Mean and Standard Deviation**

| Advantages | Disadvantages |
| --- | --- |
| 1A | 1D |
| 2A | 2D |

**Tukey 5-Number**

| Advantages | Disadvantages |
| --- | --- |
| 1A | 1D |
| 2A | 2D |

[Back to top](#top)
<a/ id='p6'></a>

## (25 pts) Problem 6
***
In problem 3, we generated an interesting theoretical result and then verified how it worked on a given data set.  Sometimes it's easier to just see what happens on a variety of data than manipulate sums directly!  Consider the following 3 data sets:

`A=[0,1,2,3,4,5,6,7,8,9]`

`B=[0,0,0,12,7,18,47,25,0,13]`

`C` is the random data set generated by using `np.random.randint(0,1000, size=100)`

For each data set, perform the following computations:
#### a) Compute and print the mean and standard deviation of the data set.


#### b) Compute and print  the mean and standard deviation of the new data set formed by subtracting the original mean from each observation.


#### c) Compute and print  the mean and standard deviation of the new data set formed by subtracting the original mean from each observation and then dividing by the original standard deviation.

#### d) Why might this result matter?